@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #0b6623; /* Dark Green */
  --hover-green: #084c19; /* Darker hover effect */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  color: var(--primary-green);
}

a {
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  background-color: var(--hover-green);
}

